:root {
  --border-radius: 0.5rem;
  --padding: 0.5rem 1rem;
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --default-font-size: 1.125rem; // 18px
  --font-weight-md: 400;
  --font-weight-lg: 700;
}
